# Supabase
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGc...

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_largo_min_32_chars
JWT_EXPIRES_IN=7d

# Redis (Upstash)
REDIS_URL=rediss://default:password@host.upstash.io:6379

# Meta WhatsApp Cloud API
META_APP_ID=1493350795913573
META_APP_SECRET=tu_app_secret
META_PHONE_NUMBER_ID=id_del_numero
META_WABA_ID=id_del_whatsapp_business_account
META_WHATSAPP_TOKEN=EAAxxxxxxx
META_WEBHOOK_VERIFY_TOKEN=mi_token_secreto_wavo
META_API_VERSION=v19.0

# Resend
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=noreply@wavo.app

# App
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
